#root {
	/* max-width: 1280px; */
	margin: auto;
	padding: auto;
	align-items: center;
}

/* #load-data {
	background-color: rgb(254, 105, 105);
	width: 100%;
} */

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

/* DRAGGABLE WINDOW COMPONENT 
------------------------------------------------------------------------------------------------------- */
.window {
	background-color: white;
	border-radius: 10px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.window-open {
	height: auto;
	width: auto;
	border-radius: 10px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.window-open:hover {
	filter: drop-shadow(0 0 1em #646cff);
	transition: filter 200ms 100ms;
}

.window-closed {
	height: 45px;
	width: auto;
	border-radius: 10px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.window-closed:hover {
	filter: drop-shadow(0 0 1em #646cff);
	transition: filter 200ms 100ms;
}

.window-header {
	height: 45px;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
}
.window-header-default {
	background-color: grey;
}

.window-header-load-data {
	background-color: rgba(238, 49, 49, 0.8);
}

.window-header-model-selection {
	background-color: rgba(200, 200, 0, 0.8);
}

.window-header-model-validation {
	background-color: rgba(0, 145, 0, 0.8);
}

.window-header-open {
	border-radius: 10px 10px 0 0;
}

.window-header-closed {
	border-radius: 10px;
}

.window-title {
	color: white;
	font-weight: bold;
	margin-left: 1px;
}

.min-max-button {
	margin-right: 1px;
	align-self: right;
}

/* ACCORDION COMPONENT 
-------------------------------------------------------------*/
.accordion {
	margin-bottom: 1rem;
}

.accordion-title {
	display: block;
	background-color: #e9ecef;
	padding: 8px 16px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	text-align: left;
	width: 100%;
	outline: black;
	margin: 1rem 0 0 0;
}

.accordion-title:hover {
	background-color: #f1f1f1;
}

.accordion-content {
	list-style-type: none;
	padding: 0;
	margin: 8px 0 0 0;
	background-color: #ffffff;
	border: 1px solid #dee2e6;
}

.accordion-content li {
	padding: 8px 16px;
	border-top: 1px solid #dee2e6;
}

.accordion-content li:hover {
	background-color: #f1f1f1;
}

.accordion-content li:first-child {
	border-top: none;
}

/* SIDEBAR COMPONENT
---------------------------------------------------------- */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	background-color: rgba(248, 249, 250, 0.8);
	padding: 1rem;
	overflow-y: auto;
	transition: all 0.15s ease-in-out;
}

.sidebar.collapsed {
	width: 4%;
	overflow: hidden;
}

.sidebar-toggle {
	border-color: black;
}

.toggle-btn {
	display: block;
	margin-bottom: 1rem;
	background-color: #007bff;
	color: #ffffff;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	font-size: 14px;
}
